* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #657323;
  --text-primary-color: #c0c1ff;
  --secondary-color: #262e01;
  --font-family: "DM Sans";
  --heading-font-size: 64px;
  --subheading-size: 48px;
  --text-font-size: 40px;
}
body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  position: relative;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary-color);
  position: relative;
  min-height: 198px;
  gap: 103px;
}
header a {
  font-weight: bold;
  letter-spacing: 1px;
}
header .menu-left,
header .menu-right {
  margin-top: -25px;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: var(--font-family);
}
a {
  text-decoration: none;
  color: var(--text-primary-color);
  font-size: var(--text-font-size);
}
a:hover {
  text-decoration: underline;
}
p {
  font-size: var(--text-font-size);
  color: var(--text-primary-color);
}

.logo {
  max-width: 311px;
  height: auto;
  width: 100%;
}

nav {
  display: flex;
  gap: 80px;
}

.menu-left,
.menu-right {
  display: flex;
  gap: 15px;
}

/* Desktop layout */
.desktop-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Mobile layout */
.mobile-header {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-inline: auto;
}
.mobile-header .logo {
  max-width: 170px;
}

.hamburger {
  font-size: var(--subheading-size);
  cursor: pointer;
}

/* Offcanvas */
.offcanvas {
  position: fixed;
  top: 0;
  left: -255px;
  width: 250px;
  height: 100%;
  background: var(--secondary-color);
  outline: 4px solid #fff;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 9;
}

.offcanvas.active {
  left: 0;
}

.offcanvas .close-btn {
  align-self: flex-end;
  font-size: 24px;
  cursor: pointer;
}

.offcanvas nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container {
  max-width: 1304px;
  width: 100%;
  margin-inline: auto;
}
.section-wrapper {
  padding-block: 80px;
}
.hero-section-wrapper {
  padding-top: 20px;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(321px, 1fr));
  gap: 20px;
}
.product .products-header {
  display: grid;
  grid-template-columns: 110px 1fr;
  padding-block-end: 30px;
}
.product .products-header .product-title {
  writing-mode: sideways-lr;
  display: flex;
  justify-content: end;
  align-items: end;
}
.outlined-text {
  color: #657323;
  background-color: var(--text-primary-color);
  background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 6px;
  -webkit-background-clip: text;
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline: 115px;
}
.products-section-wrapper {
  padding-block: 0px 80px;
}
.product .products-header .product-title h2 {
  font-size: var(--subheading-size);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 54px;
  letter-spacing: 0%;
  /* text-shadow: -10px 6px 3px #00000040; */
  text-wrap: wrap;
  text-align: center;
  padding-top: 5px;
}
.product-image {
  display: flex;
  align-items: start;
  justify-content: center;
  padding-block: 60px 25px;
  padding-inline: 0px 0px;
  flex-direction: column;
  gap: 25px;
}
.product-image .product-image--wrapper .image {
  max-width: 268px;
  border-radius: 10px;
  overflow: hidden;
  height: calc(100% - 5px);
}
.product-readMore {
  width: calc(100% - 40px);
}
.product .readmore {
  font-size: 32px;
  -webkit-text-stroke-width: 7px;
  padding: 0px 10px;
  display: block;
  text-align: center;
}
.product .readmore:hover {
  text-decoration: none;
  cursor: pointer;
}
.product {
  position: relative;
}
.product .tag {
  position: absolute;
  right: -60px;
  top: -60px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .tag p {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 900;
}
.product-description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: 20px 0px;
}
.product-description .text p {
  font-size: 23px;
  font-weight: 400;
  line-height: 40px;
}
.product-description .text:first-child {
  min-height: 630px;
}
.product-description .cta {
  min-height: 100px;
}
.product_1 {
  text-align: left;
}
.product_2 {
  text-align: center;
}
.product_3 {
  text-align: right;
}
.order-text h2 {
  font-size: var(--heading-font-size);
  text-align: center;
}
.footer-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-inline: 40px 80px;
  padding-block: 17px;
}
.footer-wrapper .footer-navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 35px;
}
.footer-wrapper .footer-navigation a {
  font-weight: 700;
  font-size: 36px;
  padding-inline: 5px;
}
.footer-wrapper .footer-navigation {
  margin-top: -45px;
}
.footer-wrapper {
  background-color: var(--text-primary-color);
}
.footer-wrapper .footer-socials {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer-wrapper .footer-socials > div {
  color: var(--primary-color);
}
.footer-wrapper .footer-socials a {
  color: inherit;
}
.social-icon {
  height: 48px;
  width: 48px;
}
.order-section-wrapper {
  padding-block: 0px 150px;
}
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 60px;
}
.contact-section h2 {
  font-size: var(--heading-font-size);
  font-weight: bold;
  line-height: 54px;
  color: var(--text-primary-color);
  margin-bottom: 20px;
}
.contact-section a,
.contact-section p {
  font-size: var(--text-font-size);
  font-weight: 400;
  line-height: 54px;
}
.contact-section-wrapper {
  padding-block: 40px 80px;
}
.terms-section-wrapper,
.privacy-section-wrapper,
.orders-section-wrapper,
.blog-section-wrapper,
.post-section-wrapper {
  padding-block: 60px 80px;
  padding-inline: 60px;
}
.terms-section,
.return-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.terms-section p {
  text-align: center;
  line-height: 54px;
  letter-spacing: 0px;
  font-weight: 400;
}
.privacy-section-wrapper h2.heading {
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0px;
  font-size: var(--subheading-size);
  color: var(--text-primary-color);
}
.privacy-section-wrapper p.para {
  font-weight: 400;
  line-height: 80px;
}
.privacy-section-wrapper .text-container {
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.privacy-section-wrapper .text-container:first-child {
  gap: 0px;
}
.privacy-section-wrapper .text-container a {
  text-decoration: underline;
}
.privacy-section-wrapper .text-container a.highlighted_links {
  display: block;
  line-height: 50px;
  font-weight: 700;
  text-decoration: underline;
}
.order-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-form input[type="text"],
.order-form input[type="number"],
.order-form textarea {
  background-color: var(--text-primary-color);
  color: var(--primary-color);
  max-width: 552px;
  width: 100%;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--text-font-size);
  line-height: 54px;
  letter-spacing: 0px;
  border: none;
  outline: none;
  margin-bottom: 16px;
  padding: 16px 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.order-form button {
  font-family: var(--font-family);
  font-size: 65px;
  line-height: 54px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 800;
  display: block;
  margin: 25px -80px 0px auto;
}
.order-form button p {
  padding-inline: 10px;
}
.blog-container {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog-container h2 {
  font-size: 96px;
  line-height: 80px;
  font-weight: 700;
  letter-spacing: 0px;
  color: var(--text-primary-color);
}
.blog-container p {
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  letter-spacing: 0px;
}
.blog_post_url:hover {
  text-decoration: none;
}
.blog-title {
  color: var(--text-primary-color);
  font-size: var(--heading-font-size);
}
p.blog-metadata {
  font-size: 20px;
  opacity: 0.5;
}
.post_main_contains {
  margin-top: 50px;
}
.product-image--wrapper {
  position: relative;
}

.large-space {
  min-height: 150px;
}
.small-space {
  min-height: 60px;
}

/* Responsive rules */
@media (max-width: 991px) {
  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: flex;
  }
}
@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: 1fr;
    justify-self: anchor-center;
  }
  .products-section-wrapper.products-page .products-grid {
    gap: 130px;
  }
  .product-readMore {
    width: 100%;
  }
  .footer-wrapper {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-inline: 0px;
  }
  .footer-wrapper .footer-navigation ul {
    gap: 15px;
  }
  .product {
    width: 90%;
    margin-inline: auto;
  }
  .product-description .text:first-child {
    min-height: 400px;
  }
  .product_1,
  .product_2,
  .product_3 {
    text-align: center;
  }
  .product .products-header {
    grid-template-columns: 110px 300px;
    justify-content: center;
  }
  .order-form button {
    margin: 20px auto;
  }
  .form-group:has(.outlined-text) {
    margin-top: 10px;
    border: 2px solid var(--text-primary-color);
    border-radius: 10px;
  }
  .blog-container h2 {
    font-size: 42px;
    line-height: 40px;
  }
  .blog-container p {
    font-size: 32px;
    line-height: 36px;
  }
}

@media (max-width: 576px) {
  :root {
    --heading-font-size: 38px;
    --subheading-size: 33px;
    --text-font-size: 28px;
  }
  header {
    min-height: 80px;
  }
  .hero-section {
    padding-inline: 20px;
  }
  .blog-container {
    margin-bottom: 50px;
  }
  .footer-wrapper .footer-navigation a {
    font-size: 18px;
    padding-inline: 2px;
  }
  .terms-section-wrapper,
  .privacy-section-wrapper,
  .orders-section-wrapper,
  .blog-section-wrapper,
  .post-section-wrapper {
    padding-inline: 32px;
  }
  .blog-container h2 {
    font-size: 28px;
    line-height: 24px;
  }
  .blog-container p {
    font-size: 18px;
    line-height: 16px;
  }
  .product-image {
    width: 250px;
  }
  .product .products-header .product-title h2 {
    line-height: 37px;
  }
  .footer-wrapper .footer-navigation {
    margin-top: 0px;
  }
  .product .products-header {
    grid-template-columns: 40px 266px;
  }
}
