---
title: 'Luma - About'
layout: 'base.njk'
pageDescription: "Luma is a website that sell vegan canned products"
---
<section>
    <div class="container">
        <div class="hero-section-wrapper section-wrapper">
            <div class="hero-section">
                <p class="hero-text">
                    I’m Alex, a Kiwi who grew up in NZ before taking off to Berlin for 10 years. I’ve come home in 2025
                    and I wanted to bring back some of my favourite food products from there.
                </p>
                <p class="hero-second-text">
                    I’ve always had belly issues, and in Germany I found Matcha soda, which is both a prebiotic (meaning
                    it contains compounds that nourish beneficial gut bacteria.<br><br> Matcha is rich in polyphenols which is
                    "good" bacteria like <u>Lactobacillus</u> and <u>Bifidobacterium</u>.)
                </p>
                <p class="hero-second-text">
                    Pairing that with Collagen water (which is great for the skin) and nut and seed heavy protein rich
                    brown read gave me the best body and belly health I ever had.
                </p>
                <p class="hero-second-text">
                    I want to bring that back to NZ (for selfish reasons - I want more!) But also to share products I’m
                    passionate about with my fellow Kiwis! 
                </p>
            </div>
        </div>
    </div>
</section>
<div class="large-space"></div>