---
title: 'Luma - Contact'
layout: 'base.njk'
pageDescription: "Luma is a website that sell vegan canned products"
---
    <section>
        <div class="container">
            <div class="contact-section-wrapper section-wrapper">
                <div class="contact-section">
                    <div class="text-block">
                        <h2>Email</h2>
                        <a href="mailto:Alex@lumafood.com">Alex@lumafood.com</a>
                    </div>
                    <div class="text-block">
                        <h2>Number</h2>
                        <a href="tel:0211487709">0211487709</a>
                    </div>
                    <div class="text-block">
                        <h2>Company</h2>
                        <p>Aephoria Limited</p>
                    </div>
                    <div class="text-block">
                        <h2>Address</h2>
                        <p>25 Gibraltar Crescent <br>Parnell 1052, Auckland</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="large-space"></div>
