---
title: 'Luma - Home'
layout: 'base.njk'
pageDescription: "Luma is a website that sell vegan canned products"
---


<section>
    <div class="container">
        <div class="hero-section-wrapper section-wrapper">
            <div class="hero-section">
                <p class="hero-text">
                    We are on a mission to make healthy, belly supporting, nutrient rich food and drinks. To help you
                    stay active even when you’re busy.
                </p>
                <p class="hero-second-text">
                    We’re making High Protein Bread, Matcha Soda and Protein Water (*that is more like ice tea.)
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="products-section-wrapper section-wrapper">
            <div class="products-section">
                <div class="products-grid">
                    <div class="product">
                        <div class="products-header">
                            <div class="product-title">
                                <h2 class="subheading outlined-text">
                                    Matcha
                                </h2>
                            </div>
                            <div class="product-image">
                                <div class="product-image--wrapper">
                                    <img src="/assets/images/matcha-480w.webp" width="268" fetchpriority="high"  alt="Canned Matcha">
                                </div>
                                <div class="product-readMore">
                                    <a href="/products#readmore" class="readmore outlined-text">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="products-header">
                            <div class="product-title">
                                <h2 class="subheading outlined-text">
                                    Protein <br> Water
                                </h2>
                            </div>
                            <div class="product-image">
                                <div class="product-image--wrapper">
                                    <img src="/assets/images/protein-water-480w.webp" width="268" fetchpriority="high"  alt="Canned Protein Water">
                                </div>
                                <div class="product-readMore">
                                    <a href="/products#readmore" class="readmore outlined-text">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="products-header">
                            <div class="product-title">
                                <h2 class="subheading outlined-text">
                                    Protein<br> Bread
                                </h2>
                            </div>
                            <div class="product-image">
                                <div class="product-image--wrapper">
                                    <img src="/assets/images/protein-bread-480w.webp" width="268" fetchpriority="high"  alt="Protein Bread">
                                </div>
                                <div class="product-readMore">
                                    <a href="/products" class="readmore outlined-text">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="order-section-wrapper section-wrapper">
            <div class="order-section">
                <div class="order-text">
                    <a href="/products.html">
                        <h2 class="outlined-text">Order</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
  

  

