---
title: 'Luma - Privacy'
layout: 'base.njk'
pageDescription: "Luma is a website that sell vegan canned products"
---
    <section>
        <div class="container">
            <div class="privacy-section-wrapper section-wrapper">
                <div class="return-section">
                    <div class="text-container">
                        <h2 class="heading">Privacy Policy</h2>
                        <p class="para">This Privacy Policy explains how www.lumafood.com</p>
                    </div>                  
                    <div class="text-container">
                        <h2 class="heading">Collecting Personal Information</h2>
                        <p class="para">When you visit the Site, we collect certain information about your device, your interactions with the Site, and details necessary to process your purchases. We may also collect additional information if you contact us for customer support</p>
                        <p class="para">In this Privacy Policy, “Personal Information” means any information that can uniquely identify an individual. Below we outline what we collect and why.</p>
                    </div>                  
                    <div class="text-container">
                        <h2 class="heading">Device Information</h2>
                        <p class="para">Examples collected: web browser version, IP address, time zone, cookie details, sites or products you view, search terms, and how you interact with the Site.</p>
                        <p class="para">Purpose: to ensure the Site loads properly and to analyse Site usage for improvements.</p>
                        <p class="para">Source: automatically collected via cookies, log files, web beacons, tags, or pixels</p>
                        <p class="para">Disclosure: shared with our service provider Stripe.</p>
                    </div>                  
                    <div class="text-container">
                        <h2 class="heading">Order Information</h2>
                        <p class="para">Examples collected: name, billing/shipping address, payment details (including credit card numbers), email address, and phone number.</p>
                        <p class="para">Purpose: to fulfill purchases, process payments, arrange shipping, issue invoices or confirmations, communicate with you, screen for potential fraud or risk, and—if you’ve opted in—send updates or marketing</p>
                        <p class="para">Source: collected directly from you.</p>
                        <p class="para">Disclosure: shared with Stripe and third-party logistics providers</p>
                    </div>                  
                    <div class="text-container">
                        <h2 class="heading">Customer Support Information</h2>
                        <p class="para">Examples collected: name, email, phone number, and address.</p>
                        <p class="para">Purpose: to provide customer support.</p>
                        <p class="para">Source: collected directly from you.</p>
                        <p class="para">Disclosure: shared with Stripe.</p>
                    </div>                  
                    <div class="text-container">
                        <h2 class="heading">Sharing Personal Information</h2>
                        <p class="para">We share Personal Information with service providers to deliver our services and honor our contracts. For example:</p>
                        <p class="para">We use Stripe to power our store. Read <a href="https://stripe.com/privacy" target="_blank">Shopify’s privacy practices here: Stripe Privacy Policy</a></p>
                    </div>                  
                    <div class="text-container">
                        <h2 class="heading">Behavioural Advertising</h2>
                        <p class="para">We use your Personal Information to provide relevant ads and marketing communications. For example:
We use Google Analytics to understand how customers use the Site. Learn more at Google Privacy Policy</p>
                        <p class="para">We share limited information with advertising partners through cookies and similar technologies (subject to your consent depending on your location).</p>
                        <p class="para">You can opt out of targeted advertising via:</p>
                        <p class="para">
                            <a href="https://www.facebook.com/index.php?next=https%3A%2F%2Fwww.facebook.com%2Fsettings%2F&deoia=1&no_universal_links=1" target="_blank" class="highlighted_links">Facebook</a>
                            <a href="https://myadcenter.google.com/home?hl=en" target="_blank" class="highlighted_links">Google</a>
                            <a href="https://help.ads.microsoft.com/#apex/3/en-us/51029" target="_blank" class="highlighted_links">Bing</a>
                        </p>
                        <p class="para">You may also visit the <a href="https://optout.aboutads.info/">Digital Advertising Alliance Opt-Out Portal</a></p>
                    </div>                  
                    <div class="text-container">
                        <h2 class="heading">Cookies</h2>
                        <p class="para">Cookies are small data files downloaded to your device when visiting the Site. We use functional, performance, advertising, and social media cookies to enhance your browsing experience and understand Site usage</p>
                        <p class="para">We use cookies such as:</p>
                        <p class="para">Necessary for store functionality: e.g., _ab, _secure_session_id, cart, checkout_token, secure_customer_sig.</p>
                        <p class="para">Analytics and reporting: e.g., _s, _stripe_y, _stripe_s, _stripe_sa_p, _stripe_sa_t.</p>
                        <p class="para">Cookie lifespans vary: session cookies expire when you stop browsing, while persistent cookies last until deleted or expired (typically 30 minutes to 2 years).</p>
                        <p class="para">You can manage cookies via your browser settings (see www.allaboutcookies.org for guidance). Please note, disabling cookies may affect Site functionality.</p>
                    </div>                  
                    <div class="text-container">
                        <h2 class="heading">Do Not Track</h2>
                        <p class="para">Currently, we do not alter our data collection in response to “Do Not Track” signals, as there is no consistent industry standard.</p>
                    </div>                  
                    <div class="text-container">
                        <h2 class="heading">Changes</h2>
                        <p class="para">We may update this Privacy Policy periodically to reflect changes to our practices, operations, legal, or regulatory requirements.</p>
                    </div>                  
                    <div class="text-container">
                        <h2 class="heading">Contact</h2>
                        <p class="para">For questions, concerns, or complaints about our privacy practices, please contact us at:</p>
                        <p class="para"><a href="mailto:alejbeck@gmail.com">alejbeck@gmail.com</a></p>
                    </div>                  
                </div>
            </div>
        </div>
    </section>
  <div class="large-space"></div>
