---
title: 'Luma - Products'
layout: 'base.njk'
pageDescription: "Luma is a website that sell vegan canned products"
---
<section>
    <div class="container">
        <div class="products-section-wrapper products-page section-wrapper">
            <div class="products-section">
                <div class="products-grid">
                    <div class="product product_1">

                        <div class="products-header">
                            <div class="product-title">
                                <h2 class="subheading outlined-text">
                                    Matcha
                                </h2>
                            </div>
                            <div class="product-image">
                                <div class="product-image--wrapper">
                                    <div class="tag">
                                        <p>Vegan</p>
                                    </div>
                                    <div class="image">
                                        <img src="/assets/images/matcha-480w.webp" width="268" height="402" fetchpriority="high" alt="Canned Matcha">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-description">
                            <div class="text">
                                <p>Matcha is traditionally brewed as a tea in Japan. Our version is a lemoney/soda. an
                                    alternative to unhealthy sodas or diet sodas that can hurt your gut flora. It is
                                    good for the bacteria in your gut along with being rich in antioxidants, especially
                                    EGCG, which may help protect cells from damage, support heart and liver health, and
                                    potentially reduce the risk of some cancers. It also contains L-theanine and
                                    caffeine, which can enhance brain function, improve alertness and mood, and may help
                                    reduce stress.</p>
                            </div>
                            <div class="cta">
                                <div class="order-text">
                                    <a href="/orders/?product=matcha">
                                        <h2 class="outlined-text">Order</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <p>Ingredients : Matcha powder, lemon juice, lemon pulp, monk fruit sweetener, sparkling
                                    water</p>
                            </div>
                        </div>
                    </div>
                    <div class="product product_2">
                        <div class="products-header">
                            <div class="product-title">
                                <h2 class="subheading outlined-text">
                                    Protein <br> Water
                                </h2>
                            </div>
                            <div class="product-image">
                                <div class="product-image--wrapper">
                                    <div class="image">
                                        <img src="/assets/images/protein-water-480w.webp" width="268" height="402" fetchpriority="high" alt="Canned Protein Water">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-description">
                            <div class="text">
                                <p>I personally find it hard to get enough protein a day. Collagen mixed with carbonated
                                    water and light flavouring helps me hydrate without drinking a milky drink that can
                                    me make unwell. Collagen is a key protein in the skin that supports its structure,
                                    elasticity, and hydration, and its natural levels decrease with age.. It provides
                                    amino acids like glycine and proline that play a role in supporting connective
                                    tissue and overall structural integrity in the body.</p>
                            </div>
                            <div class="cta">
                                <div class="order-text">
                                    <a href="/orders/?product=Protein_water">
                                        <h2 class="outlined-text">Order</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <p>Ingredients : Loose Leaf Berry Tea (Hibiscus flowers, pineapple pieces (pineapple,
                                    sugar, acidifier: citric acid), raisins, apple pieces, carob pieces, rosehip peel,
                                    citrus peel, papaya pieces (papaya, sugar, acidifier: citric acid), flavoring,
                                    marigold petals, cornflower petals.), sparkling water, bovine collagen powder.</p>
                            </div>
                        </div>
                    </div>
                    <div class="product product_3">

                        <div class="products-header">
                            <div class="product-title">
                                <h2 class="subheading outlined-text">
                                    Protein<br> Bread
                                </h2>
                            </div>
                            <div class="product-image">
                                <div class="product-image--wrapper">
                                    <div class="tag">
                                        <p>Vegan</p>
                                    </div>
                                    <div class="image">
                                        <img src="/assets/images/protein-bread-480w.webp" width="268" height="402" fetchpriority="high" alt="Protein Bread">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-description">
                            <div class="text">
                                <p>I never really liked bread, but in Berlin the have amazing brown protein bread, not
                                    only is it very filling (helped me lose my belly). It’s also packed with protein at
                                    roughly 9grams per 42g slice. More than double most brown breads in NZ. It’s also
                                    full of seeds and nuts that provide healthy fats, plant-based protein, fiber, and
                                    essential vitamins and minerals such as vitamin E, magnesium, and zinc. They also
                                    contain antioxidants that help protect cells and offer a concentrated source of
                                    energy.</p>
                            </div>
                            <div class="cta">
                                <div class="order-text">
                                    <a href="/orders/?product=Protein_bean">
                                        <h2 class="outlined-text">Order</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <p>Seven Grain Bread Mix, vital wheat gluten, whole wheat flour, yeast, salt, sugar,
                                    water.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="small-space"></div>
