---
title: 'Luma - Returns'
layout: 'base.njk'
pageDescription: "Luma is a website that sell vegan canned products"
---
    <section>
        <div class="container">
            <div class="terms-section-wrapper section-wrapper">
                <div class="return-section">
                    <p class="hero-text">
                        Returns, Refunds & Satisfaction Policy
                    </p>
                    <p class="hero-text">
                        If you are not fully satisfied with your order, please email alejbeck@gmail.com - we are here to help! Please include your order number or full name
                    </p>
                    <p class="hero-text">
                       Refunds & Replacements: We will issue a refund or replacement if the item you ordered from our website arrives damaged or the incorrect item was sent.
Satisfaction Policy: We offer a satisfaction guarantee on our full-price if:
                    </p>
                    <p class="hero-text">
                       It’s less than 30 days since your parcel was delivered;
It’s the first time you have ordered this flavour;
You have not returned more than two items before
                    </p>
                    <p class="hero-text">
                       If your item meets this criteria, please note the following:
                    </p>
                    <p class="hero-text">
                       Email alejbeck@gmail.com to organise a return;
                    </p>
                    <p class="hero-text">
                       -You cover the shipping cost of the return to us;<br>
-We will process a refund once we receive your item;<br>
-Original order shipping costs are not refundable.
                    </p>                    
                </div>
            </div>
        </div>
    </section>
  <div class="large-space"></div>
